volumes:
  postgres_data:
  static-data:
  media-data:
  backups-data:
services:

  db:
    container_name: qgis-hub-db
    image: kartoza/postgis:16-3.4
    environment:
      - ALLOW_IP_RANGE=0.0.0.0/0
      - POSTGRES_USER=${DATABASE_USERNAME:-docker}
      - POSTGRES_PASS=${DATABASE_PASSWORD:-docker}
      - PASSWORD_AUTHENTICATION=${PASSWORD_AUTHENTICATION:-md5}
      - DATADIR=/opt/postgres/data
      - DEFAULT_ENCODING=UTF8
      - DEFAULT_COLLATION=en_GB.utf8
      - DEFAULT_CTYPE=en_GB.utf8
    volumes:
      - postgres_data:/opt/postgres/data
      - ${QGISHUB_BACKUP_VOLUME}:/backups
    restart: unless-stopped
    networks:
      internal:

  uwsgi: &uwsgi-common
    image: ${UWSGI_DOCKER_IMAGE}
    hostname: uwsgi
    expose:
      - "8080"
    environment:
      - DATABASE_NAME=${DATABASE_NAME:-gis}
      - DATABASE_USERNAME=${DATABASE_USERNAME:-docker}
      - DATABASE_PASSWORD=${DATABASE_PASSWORD:-docker}
      - DATABASE_HOST=${DATABASE_HOST:-db}
      - DJANGO_SETTINGS_MODULE=${DJANGO_SETTINGS_MODULE:-settings_docker}
      - VIRTUAL_HOST=${VIRTUAL_HOST:-hub.kartoza.com}
      - VIRTUAL_PORT=${VIRTUAL_PORT:-8080}
      - DEBUG=${DEBUG:-False}
      - ENABLE_LDAP=${ENABLE_LDAP:-False}
      - METABASE_DOWNLOAD_STATS_URL=${METABASE_DOWNLOAD_STATS_URL:-/metabase}
      - EMAIL_BACKEND=${EMAIL_BACKEND}
      - EMAIL_HOST=${EMAIL_HOST}
      - EMAIL_PORT=${EMAIL_PORT}
      - EMAIL_USE_TLS=${EMAIL_USE_TLS}
      - EMAIL_HOST_USER=${EMAIL_HOST_USER:-automation}
      - EMAIL_HOST_PASSWORD=${EMAIL_HOST_PASSWORD}
      - DEFAULT_HUB_SITE=${DEFAULT_HUB_SITE:-https://hub.qgis.org/}
      - SENTRY_DSN=${SENTRY_DSN}
      - SENTRY_RATE=${SENTRY_RATE}
    volumes:
      - ../qgis-app:/home/web/django_project
      - ./docker/uwsgi.conf:/uwsgi.conf
      - ${QGISHUB_STATIC_VOLUME}:/home/web/static:rw
      - ${QGISHUB_MEDIA_VOLUME}:/home/web/media:rw
    command: bash -c "npm install && npm run build && uwsgi --ini /uwsgi.conf"
    depends_on:
      - db
    restart: unless-stopped
    user: root
    networks:
      internal:

  # This is the entry point for a development server.
  # Run with --no-deps to run attached to the services
  # from prod environment if wanted
  devweb:
    <<: *uwsgi-common
    container_name: qgis-hub-devweb
    build:
      context: ${PWD}/../
      dockerfile: dockerize/docker/Dockerfile
      target: dev
    volumes:
      - ../qgis-app:/home/web/django_project
      - ${QGISHUB_STATIC_VOLUME}:/home/web/static:rw
      - ${QGISHUB_MEDIA_VOLUME}:/home/web/media:rw
    ports:
      # for django test server
      - "62202:8081"
      # for ssh
      - "62203:22"
    networks:
      internal:

  webpack:
    container_name: qgis-hub-webpack
    build:
      context: ${PWD}/../
      dockerfile: dockerize/docker/Dockerfile
      target: dev
    working_dir: /home/web/django_project
    command: npm start
    volumes:
      - ../qgis-app:/home/web/django_project
      - ${QGISHUB_STATIC_VOLUME}:/home/web/static:rw
      - ${QGISHUB_MEDIA_VOLUME}:/home/web/media:rw
  web:
    # Note you cannot scale if you use container_name
    container_name: qgis-hub-web
    image: nginx
    hostname: web
    entrypoint:
    - /etc/nginx/sites-available/docker-entrypoint.sh
    ports:
    - "80:80"
    - "443:443"
    volumes:
      - ./sites-enabled:/etc/nginx/sites-available/:ro
      - ${QGISHUB_STATIC_VOLUME}:/home/web/static:ro
      - ${QGISHUB_MEDIA_VOLUME}:/home/web/media:ro
      - ./webroot:/var/www/webroot
      - ./certbot-etc:/etc/letsencrypt
    depends_on:
      - uwsgi
      - metabase
    logging:
      driver: "json-file"
      options:
        max-size: "200k"
        max-file: "10"
    restart: unless-stopped
    command:
    - ${QGISHUB_ENV}
    networks:
      internal:

  dbbackups:
    image: kartoza/pg-backup:16-3.4
    hostname: pg-backups
    volumes:
      - ${QGISHUB_BACKUP_VOLUME}:/backups
    depends_on:
      - db
    environment:
      # take care to let the project name below match that
      # declared in the top of the makefile
      - DUMPPREFIX=${DUMPPREFIX:-QGIS_HUB}
      - POSTGRES_USER=${DATABASE_USERNAME:-docker}
      - POSTGRES_PASS=${DATABASE_PASSWORD:-docker}
      - POSTGRES_PORT=${POSTGRES_PORT:-5432}
      - POSTGRES_HOST=${DATABASE_HOST:-db}
      - PGDATABASE=${DATABASE_NAME:-gis}
    restart: unless-stopped
    networks:
      internal:

  metabase:
    image: metabase/metabase:latest
    environment:
      - MB_DB_TYPE=postgres
      - MB_DB_CONNECTION_URI=jdbc:postgresql://${DATABASE_HOST:-db}:5432/metabase?user=${DATABASE_USERNAME:-docker}&password=${DATABASE_PASSWORD:-docker}
    depends_on:
      - db
    expose:
      - "3000"
    networks:
      internal:

  certbot:
    image: certbot/certbot
    container_name: certbot
    volumes:
      - ./webroot:/var/www/webroot
      - ./certbot-etc:/etc/letsencrypt
    depends_on:
      - web
    command: certonly --webroot --webroot-path=/var/www/webroot --email admin@qgis.org --agree-tos --no-eff-email --force-renewal -d hub.qgis.org
    networks:
      internal:

networks:
    internal: