{% load static i18n %}
<div class="columns is-multiline">
  <div class="column is-12">
    <div class="field">
      <label class="label">
        <i class="fas fa-database"></i> {% trans "Data source" %}:
      </label>
      <div class="control truncate">
        <a href="{{ object_detail.url_datasource }}" target="_blank">{{ object_detail.url_datasource }}</a>
      </div>
    </div>
  </div>
  <div class="column is-12">
    <div class="field">
      <label class="label">
        <i class="fas fa-file-alt"></i> {% trans "License" %}:
      </label>
      <div class="control">
        {% if object_detail.license %}
        <span class="custom-license" style="word-break: break-all;">{{ object_detail.license }}</span>
        {% else %}
        -
        {% endif %}
      </div>
    </div>
  </div>
</div>
