{% load i18n simplemenu_tags resources_tagcloud resources_utils static %}
<div class="box mb-0 context-container" id="context">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-start buttons are-small is-hidden-desktop mb-0 ml-4 is-align-items-center is-justify-content-space-between is-flex-direction-row-reverse" style="height: 3rem;">
                {% include 'components/login_logout_buttons.html' %}
                {% include 'components/search.html' %}
            </div>

            <div id="pluginsNavbar" class="navbar-menu">
                <!-- Breadcrumbs - initially hidden -->
                <nav class="breadcrumb is-hidden-desktop" aria-label="breadcrumbs" id="breadcrumb-nav" style="display: none;">
                    <ul class="is-justify-content-center" id="breadcrumb-list">
                      <li>
                        <a href="#" class="breadcrumb-home">
                          <span class="icon is-small">
                            <i class="fas fa-home" aria-hidden="true"></i>
                          </span>
                          <span>Home</span>
                        </a>
                      </li>
                      {% if resource_name %}
                      <li>
                        <a href="#" class="breadcrumb-resource">
                          <span>{{ resource_name }}</span>
                        </a>
                      </li>
                      {% endif %}
                    </ul>
                </nav>

                <!-- Second navbar-start - full menu -->
                <div class="navbar-start">
                    {% get_navigation_menu as NAVIGATION_MENU %}
                    {% for item in NAVIGATION_MENU %}
                        {% if item.submenu %}
                            <div class="navbar-item has-dropdown is-hoverable p-0">
                                <a class="navbar-link has-text-weight-semibold is-size-7">
                                    <span class="icon">
                                        <i class="fas {{ item.icon }}"></i>
                                    </span>
                                    <span>{{ item.name }}</span>
                                </a>
                                <div class="navbar-dropdown">
                                    {% for subitem in item.submenu %}
                                        <a class="navbar-item has-text-weight-semibold is-size-7 ml-1 mr-1" href="{{ subitem.url }}">
                                            <span class="icon">
                                                <i class="fas {{ subitem.icon }}"></i>
                                            </span>
                                            <span>{{ subitem.name }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% else %}
                            <a class="navbar-item has-text-weight-semibold is-size-7 ml-1 mr-1" href="{{ item.url }}">
                                <span class="icon">
                                    <i class="fas {{ item.icon }}"></i>
                                </span>
                                <span>{{ item.name }}</span>
                            </a>
                        {% endif %}
                    {% endfor %}
                    {% if user.is_authenticated and user.is_staff %}
                    <a class="navbar-item has-text-weight-semibold is-size-7 ml-1 mr-1" href="/admin">
                        <span class="icon mr-2">
                            <i class="fas fa-tools"></i>
                        </span>
                        <span>
                            {% trans "Admin" %}
                        </span>
                    </a>
                    {% endif %}
                </div>

                <div class="navbar-end">
                        {% include 'components/search.html' %}
                    <div class="navbar-item">
                        {% include 'components/login_logout_buttons.html' %}
                        {% block navigation_extra %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
