{% extends BASE_TEMPLATE %}{% load i18n static thumbnail %}
{% load resources_custom_tags resources_tagcloud %}
{% block extratitle %}{{ resource_name }}{% endblock %}
{% block app_title %}
<h2 xmlns="http://www.w3.org/1999/html">QGIS {{ resource_name }}</h2>
{% endblock %}

{% block extrajs %}
    <style>
        div.style-polaroid{
            width: 100%;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
            text-align: center;
            margin-top: 23px;
        }
        div.style-polaroid, div.span12.license {
            margin-left: 1em;
        }
        div.span12.license {
            margin-bottom: 5em;
        }
        .style-title {
            margin-bottom: 0;
            padding-bottom: 0;
        }
    </style>
{% endblock %}

{% block menu %}
{{ block.super }}
{% include "layouts/sidebar.html" %}
{% endblock %}

{% block "credits" %}
  {{ block.super }}
{% endblock %}
