{% extends BASE_TEMPLATE %}{% load i18n static thumbnail %}
{% load resources_custom_tags resources_tagcloud %}
{% block extratitle %}{{ resource_name }}{% endblock %}
{% block app_title %}
<h2 xmlns="http://www.w3.org/1999/html">QGIS {{ resource_name }}</h2>
{% endblock %}

{% block extrajs %}
    <style>
        div.style-polaroid{
            width: 100%;
            text-align: center;
        }
        div.style-polaroid, div.span12.license {
            margin-left: 1em;
        }
    </style>
{% endblock %}

{% block menu %}
{{ block.super }}
{% include "layouts/sidebar.html" %}
{% endblock %}

{% block "credits" %}
  {{ block.super }}
{% endblock %}
