{% extends 'base/base.html' %}{% load i18n static thumbnail resources_custom_tags%}

{% block extrajs %}
  {{ block.super }}
  {% for css_src in css %}
    <link rel="stylesheet" href="{% static css_src %}" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}
<div class="box-content">
  <div class="columns">
    <div class="column is-6">
      <h3 class="title is-4">{{ object_detail.name }}</h3>
    </div>
    <div class="column is-6 has-text-right">
      <div>
          {% if user == object_detail.creator or user.is_staff %}
            <a class="button is-success is-outlined" href="{% url url_update object_detail.id %}" title="{% trans "Edit" %}">
              <span class="icon">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </a>
            <a class="button is-danger is-outlined" href="{% url url_delete object_detail.id %}" title="{% trans "Delete" %}">
              <span class="icon">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          {% endif %}
            {% if object_detail.file and object_detail.file.file %}
            <button class="button is-success" 
               onclick="location.href='{% url url_download object_detail.id %}'" 
               title="{% trans "Download" %}">
              <span class="icon">
              <i class="fas fa-download"></i>
              </span>
              <span>{% trans "Download" %}</span>
            </button>
            {% else %}
            <button class="button" 
               title="{% trans "File missing: The resource file couldn't be located." %}" 
               disabled>
              <span class="icon">
              <i class="fas fa-exclamation-triangle"></i>
              </span>
              <span>{% trans "File missing" %}</span>
            </button>
            {% endif %}
      </div>
    </div>
  </div>
  <hr />
  <div class="view-resource mb-3">
    <div class="style-polaroid">
      {% if object_detail.thumbnail_image and object_detail.thumbnail_image.file %}
        {% thumbnail object_detail.thumbnail_image "420x420" format="PNG" as im %}
          <img class="image-resource" alt="{% trans "image" %}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" />
        {% endthumbnail %}
      {% elif resource_name == 'Map' and object.file.file %}
      {% thumbnail object.file "420x420" format="PNG" as im %}
        <img alt="{% trans "Map icon" %}" src="{{ im.url }}" />
      {% endthumbnail %}
      {% else %}
        <img src="{% static "images/large-logo.svg" %}" alt="{% trans "Plugin icon" %}" />
      {% endif %}
        {% if is_3d_model %}
          {% include "base/includes/wavefront/detail_3dviewer.html" %}
        {% endif %}
    </div>
  </div>
  {% include "base/includes/detail_object.html" %}
  <hr />
  {% if license_template %}
    {% include license_template %}
  {% endif %}
</div>

  {% for js_src in js %}
    <script type="{% if not js_src.type %}text/javascript{% else %}{{ js_src.type }}{% endif %}" src="{% static js_src.src %}"></script>
  {%  endfor %}


{% endblock %}
