{% extends 'base/base.html' %}{% load i18n static thumbnail resources_custom_tags%}

{% block extrajs %}
  {{ block.super }}
  {% for css_src in css %}
    <link rel="stylesheet" href="{% static css_src %}" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}

{% if resource_name == 'Map' %}
  {% include "base/includes/image_viewer.html" with image_file=object.file  %}
{% elif resource_name == 'Processing Script' %}
  {% include "base/includes/script_viewer.html" with title=object.name script_content=object.get_file_content %}
{% endif %}
<div class="box-content">
  <div class="columns">
    <div class="column is-6">
      <h3 class="title is-4">{{ object_detail.name }}</h3>
    </div>
    <div class="column is-6 has-text-right">
      <div>
        {% if user.is_staff or is_style_manager %}
          {% if resource_name == 'Map' %}
            <a class="button {% if object_detail.is_publishable %}is-warning{% else %}is-success{% endif %} is-outlined" 
              href="{% url 'map_toggle_publish' object_detail.id %}" 
              title="{% if object_detail.is_publishable %}{% trans "Unpublish from QGIS.org" %}{% else %}{% trans "Publish on QGIS.org" %}{% endif %}">
              <span class="icon">
                <i class="fas {% if object_detail.is_publishable %}fa-times{% else %}fa-globe{% endif %}"></i>
              </span>
              <span>
                {% if object_detail.is_publishable %}
            {% trans "Unpublish" %}
                {% else %}
            {% trans "Publish" %}
                {% endif %}
              </span>
            </a>
          {% endif %}
          <a class="button is-warning is-outlined" 
            href="{% url url_unapprove object_detail.id %}" 
            title="{% trans "Unapprove this resource" %}">
            <span class="icon">
             <i class="fas fa-thumbs-down"></i>
            </span>
          </a>
        {% endif %}
          {% if user == object_detail.creator or user.is_staff %}
            <a class="button is-success is-outlined" href="{% url url_update object_detail.id %}" title="{% trans "Edit" %}">
              <span class="icon">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </a>
            <a class="button is-danger is-outlined" href="{% url url_delete object_detail.id %}" title="{% trans "Delete" %}">
              <span class="icon">
                <i class="fas fa-trash-alt"></i>
              </span>
            </a>
          {% endif %}
            {% if object_detail.file and object_detail.file.file %}
            <button class="button is-success" 
               onclick="location.href='{% url url_download object_detail.id %}'" 
               title="{% trans "Download" %}">
              <span class="icon">
              <i class="fas fa-download"></i>
              </span>
              <span>{% trans "Download" %}</span>
            </button>
            {% else %}
            <button class="button" 
               title="{% trans "File missing: The resource file couldn't be located." %}" 
               disabled>
              <span class="icon">
              <i class="fas fa-exclamation-triangle"></i>
              </span>
              <span>{% trans "File missing" %}</span>
            </button>
            {% endif %}
      </div>
    </div>
  </div>
  <hr />
  <div class="view-resource mb-3">
    <div class="style-polaroid">
      {% if object_detail.thumbnail_image and object_detail.thumbnail_image.file %}
        {% thumbnail object_detail.thumbnail_image "1000x500" format="PNG" as im %}
          <img class="image-resource" alt="{% trans "image" %}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" />
        {% endthumbnail %}
      {% elif resource_name == 'Map' and object.file.file %}
        {% thumbnail object.file "1000x500" format="PNG" as im %}
          <img alt="{% trans "Map icon" %}" src="{{ im.url }}" />
        {% endthumbnail %}
      {% else %}
        <img src="{% static "images/large-logo.svg" %}" alt="{% trans "Plugin icon" %}" />
      {% endif %}
        {% if is_3d_model %}
          {% include "base/includes/wavefront/detail_3dviewer.html" %}
        {% endif %}
    </div>
  </div>

  {% if resource_name == 'Map' %}
  <div class="has-text-centered">
    <button class="button is-light" onclick="openViewer('{{ object.file.url }}');">
      <span class="icon">
        <i class="fas fa-map"></i>
      </span>
      <span>{% trans "Open Full-Size Map" %}</span>
    </button>
  </div>
  {% elif resource_name == 'Processing Script' %}
  <div class="has-text-centered">
    <button class="button is-light script-preview-modal-button" data-target="scriptPreviewModal" >
      <span class="icon">
        <i class="fas fa-code"></i>
      </span>
      <span>{% trans "Preview Script" %}</span>
    </button>
  </div>
  {% endif %}

  {% include "base/includes/detail_object.html" %}
  {% if resource_name == 'Map' and object_detail.is_publishable %}
    <div class="notification is-success is-light">
      <span class="icon">
        <i class="fas fa-globe"></i>
      </span>
      {% trans "This map is also available on QGIS.org:" %}
      <a href="https://qgis.org/project/overview/maps/" target="_blank">https://qgis.org/project/overview/maps/</a>
    </div>
  {% endif %}
  <hr />
  {% if license_template %}
    {% include license_template %}
  {% endif %}
</div>

  {% for js_src in js %}
    <script type="{% if not js_src.type %}text/javascript{% else %}{{ js_src.type }}{% endif %}" src="{% static js_src.src %}"></script>
  {%  endfor %}


{% endblock %}
