{% extends 'base/base.html' %}{% load i18n bootstrap_pagination humanize static thumbnail resources_custom_tags %}

{% block extrajs %}
{{ block.super }}
<style>
  .next-row {
    margin-top: 1.5em;
  }

  .galery {
    height: 550px;
    background-color: #F2F2F2;
  }

  .galery:hover {
    background-color: #3e88ce;
  }

  .galery:hover .image-info a, .galery:hover .image-info {
    color: aliceblue;
  }

  .galery:hover a.btn-download {
    color: #78a2cc;
  }

  .frame-image-demo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    background-color: white;
  }
  img.image-demo {
    height: auto;
    max-height: 380px;
    width: auto;
    max-width: 100%;
  }
  .image-info a {
    text-decoration: none;
    color: #151515 ;
  }
  .center {
    text-align: center;
  }
  .image-info {
    margin-left: 5px;
  }
</style>
{% endblock %}

{% block content %}
  <h2 class="title is-4">{% if title %}{{title}}{% else %}{% trans "All" %} {{ resource_name }}s{% endif %}</h2>

	<div class="container rich tips mb-3">
		<div class="icon">ℹ️</div>
		<div class="cont coloring-1">
      {% if not object_list and not queries %}
        <p>No data.</p>
      {% elif not object_list and queries %}
        <p>
          Keyword: "<strong>{{ queries }}</strong>" <br /> Search result: no record found.
        </p>
      {% else %}
        <p>
          {%  if queries %}
            Keyword: "<strong>{{ queries }}</strong>" <br /> Search result:
          {% endif %}
          {{ count }} record{{ object_list.count|pluralize:"s" }} found.
        </p>
      {% endif %}
		</div>
	</div>

	{% if object_list.count %}
	<div class="mt-3 is-flex is-justify-content-space-between is-flex-wrap-wrap">
		<div>
			<div class="field has-addons">
			<p class="control">
				<button id="grid-view-btn" class="button is-small is-info">
				<span class="icon is-small">
					<i class="fas fa-th"></i>
				</span>
				<span>Grid View</span>
				</button>
			</p>
			<p class="control">
				<button id="table-view-btn" class="button is-small">
				<span class="icon is-small">
					<i class="fas fa-table"></i>
				</span>
				<span>Table View</span>
				</button>
			</p>
			</div>
		</div>
		<div>
      <div class="field is-grouped is-grouped-right">
        <p class="control">
          <a class="button is-light" href="#" data="-"><span id="iconOrder"><i class="fas fa-arrow-up"></i></span></a>
        </p>
        <p class="control">
          <div class="select">
            <select>
              <option value="creator">Creator</option>
              <option value="download_count">Number of downloads</option>
              <option value="upload_date" selected>Upload date</option>
              <option value="modified_date" selected>Modified date</option>
              <option value="name">{{ resource_name }} name</option>
              {% if object_list.first.style_type %}<option value="type">Style type</option>{% endif %}
            </select>
          </div>
        </p>
      </div>
		</div>
	</div>

	<div id="grid-view" class="columns is-multiline plugins-list-grid is-hidden">
		{% for object in object_list %}
			{% include "base/list_grid_card.html" %}
		{% endfor %}
	</div>


	<div id="table-view" class="table-container is-hidden pt-0">
    {% include "base/list_table.html" %}
  </div>

  {% endif %}


  <div class="pagination">
    {% include 'sortable_listview/pagination.html' %}
  </div>

  <script>
		$('#table-view-btn').on('click', function() {
			$('#table-view').removeClass('is-hidden');
			$('#grid-view').addClass('is-hidden');
			$(this).addClass('is-info');
			$('#grid-view-btn').removeClass('is-info');
			localStorage.setItem('view', 'table');
		});

		$('#grid-view-btn').on('click', function() {
			$('#grid-view').removeClass('is-hidden');
			$('#table-view').addClass('is-hidden');
			$(this).addClass('is-info');
			$('#table-view-btn').removeClass('is-info');
			localStorage.setItem('view', 'grid');
		});

		$(document).ready(function() {
			const view = localStorage.getItem('view');
			if (view === 'table') {
			$('#table-view').removeClass('is-hidden');
			$('#grid-view').addClass('is-hidden');
			$('#table-view-btn').addClass('is-info');
			$('#grid-view-btn').removeClass('is-info');
			} else {
			$('#grid-view').removeClass('is-hidden');
			$('#table-view').addClass('is-hidden');
			$('#grid-view-btn').addClass('is-info');
			$('#table-view-btn').removeClass('is-info');
			}
		});
	</script>

  <script type="text/javascript">
  $(document).ready(function(){
    // Add arguments in pagination
    const orderBy = new URLSearchParams(window.location.search).get("order_by");
    const queries = new URLSearchParams(window.location.search).get("q");
    const is_gallery = 'is_gallery=true'
    if (orderBy){
      $(".pagination li a").each(function(){
        this.href += 'order_by=' + orderBy +'&&' + is_gallery + '&&';
      })
    }
    if (queries){
      $(".pagination li a").each(function(){
        this.href += 'q=' + queries +'&&' + is_gallery + '&&';
      })
    }
    if (!orderBy && !queries){
      $(".pagination li a").each(function(){
        this.href += is_gallery + '&&';
      })
    }

    // galery or list view
    const url = window.location.href.split('?')[0];
    const isGalery = new URLSearchParams(window.location.search).get("is_gallery");
    if (isGalery && isGalery === 'true') {
      $('.list-grid').find('.is-galery').addClass('is-disabled')
    } else {
      $('.list-grid').find('.is-list').addClass('is-disabled')
    }
    // add href value
    $('.list-grid a.is-list').each(function(){
      this.href = url;
    })
    $('.list-grid a.is-galery').each(function(){
      this.href = url + '?is_gallery=true';
    })

    // edit search input from base template, in order to use it for styles
    $("form.navbar-search").attr("action", "");

    // add event listener
    $('div.filter-sort').find('a').click( () => {
      const $order = $('div.filter-sort').find('a').eq(0);
      if (!$order.attr('data')) {
      $order.attr('data', '-')
      } else {
      $order.attr('data', '')
      }
      sort();
    });
    $('div.filter-sort').find('select').on('change', sort);

    // set current value of sort selector and order button
    if (!orderBy) return;
    const currentVal = orderBy.split('-')
    if (currentVal.length > 1) {
      $('div.filter-sort').find('a').attr('data', '-');
      $("#iconOrder").html('<i class="fas fa-arrow-down"></i>')
      $('div.filter-sort').find('select').val(currentVal[1]);
    } else {
      $('div.filter-sort').find('a').attr('data', '');
      $("#iconOrder").html('<i class="fas fa-arrow-up"></i>')
      $('div.filter-sort').find('select').val(currentVal[0])
    }

  })

  function sort(){
    const order = $('div.filter-sort').find('a').attr('data')
    const sort_by = $('div.filter-sort').find('select').val()
    let current_query = new URLSearchParams(window.location.search).get("q");
    let is_gallery = new URLSearchParams(window.location.search).get("is_gallery");
    if (current_query === null) current_query = '';

    location.href = location.protocol + '//' + location.host + location.pathname + `?order_by=${order}${sort_by}&&is_gallery=${is_gallery}`
  }
  </script>
{% endblock %}
