{% load i18n humanize static thumbnail resources_utils resources_custom_tags %}

<table id="myTable" class="table is-fullwidth resources-list-table">
    <thead>
        <tr>
            <th></th>
            <th> Name </th>
            {%if resource_name == 'Style' %}
                <th> Type </th>
            {% endif %}
            <th>
                <i class="fas fa-download" title="{% trans 'Download Count' %}"></i>
            </th>
            <th> Creator </th>
            <th> Upload Date </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for object in object_list %}
            <tr style="cursor: pointer;" onclick="if (this.hasAttribute('data-resource-id')) { event.preventDefault(); event.stopPropagation(); const id = this.getAttribute('data-resource-id'); if (window.openPreview) window.openPreview(id); }"
                {% if resource_name == 'Map' or resource_name == 'Screenshot' %}
                {% if object.file and object.file.file %}
                data-resource-id="{{ object.id }}"
                data-resource-name="{{ object.name }}"
                data-resource-creator="{{ object.get_creator_name }}"
                data-resource-upload-date="{{ object.upload_date|date:"d F Y" }}"
                data-resource-download-count="{{ object.download_count|intcomma }}"
                data-resource-description="{{ object.description|md_to_html|force_escape }}"
                data-resource-image-url="{{ object.file.url }}"
                data-resource-download-url="{% url url_download pk=object.id %}"
                data-resource-detail-url="{% url url_detail pk=object.id %}"
                data-resource-publishable="{% if object.is_publishable %}true{% else %}false{% endif %}"
                data-resource-type="{{ resource_name }}"
                {% endif %}
                {% endif %}
            >                <td class="object-thumbnail">
                {% if object.thumbnail_image and object.thumbnail_image.file %}
                    {% thumbnail object.thumbnail_image "96x96" format="PNG" as im %}
                        <img alt="{% trans "object icon" %}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" />
                    {% endthumbnail %}
                {% elif resource_name == 'Map' or resource_name == 'Screenshot' %}
                    {% if object.file.file %}
                        {% with image_extension=object.file.file.name|file_extension %}
                        {% if image_extension == 'svg' or image_extension == 'gif' %}
                            <img alt="{% trans "Image thumbnail" %}" src="{{ object.file.url }}" style="max-width:96px; max-height:96px;" width="96" height="96" />
                        {% else %}
                            {% thumbnail object.file.file "96x96" format="PNG" as im %}
                            <img alt="{% trans "Image thumbnail" %}" src="{{ im.url }}" />
                            {% endthumbnail %}
                        {% endif %}
                        {% endwith %}
                    {% endif %}
                {% else %}
                    <img height="32" width="32" class="plugin-icon" src="{% static "theme/images/large-logo.svg" %}" alt="{% trans "Plugin icon" %}" />
                {% endif %}
                </td>
                <td>
                    <a href="{% url url_detail pk=object.id %}">
                        {{ object.name }}
                    </a>
                </td>
                {% if object.style_types.all %}
                    <td class="has-text-centered">
                        {% for stype in object.style_types.all %}
                            <span class="tag is-info is-light">{{ stype.name|title }}</span>
                        {% empty %}
                            -
                        {% endfor %}
                    </td>
                {% endif %}
                <td>{{ object.download_count|intcomma }}</td>
                <td>{{ object.get_creator_name|title }}</td>
                <td>{{ object.upload_date|date:"d M. Y" }}</td>
                <td>
                    {% if user.is_staff or user == object.creator %}
                    <a class="button is-small is-success is-outlined" href="{% url url_update pk=object.id %}" title="{% trans "Edit" %}" onclick="event.stopPropagation();"><i class="fas fa-pencil-alt"></i></a>
                    <a class="button is-small is-danger is-outlined" href="{% url url_delete pk=object.id %}" title="{% trans "Delete" %}" onclick="event.stopPropagation();"><i class="fas fa-trash-alt"></i></a>
                    {% endif %}
                    <a class="button is-small is-success is-outlined" href="{% url url_download pk=object.id %}" title="{% trans "Download" %}" onclick="event.stopPropagation();"><i class="fas fa-download"></i></a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
