{% extends 'base/base.html' %}{% load i18n bootstrap_pagination humanize static thumbnail resources_custom_tags %}

{% block extrajs %}
{{ block.super }}
<style>
  .next-row {
    margin-top: 1.5em;
  }

  .galery {
    height: 550px;
    background-color: #F2F2F2;
  }

  .galery:hover {
    background-color: #3e88ce;
  }

  .galery:hover .image-info a, .galery:hover .image-info {
    color: aliceblue;
  }

  .galery:hover a.btn-download {
    color: #78a2cc;
  }

  .frame-image-demo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 380px;
    background-color: white;
  }
  img.image-demo {
    height: auto;
    max-height: 380px;
    width: auto;
    max-width: 100%;
  }
  .image-info a {
    text-decoration: none;
    color: #151515 ;
  }
  .center {
    text-align: center;
  }
  .image-info {
    margin-left: 5px;
  }

</style>
{% endblock %}

{% block content %}
  <h2 class="title is-4">{% if title %}{{title}}{% else %}{% trans "All" %} {{ resource_name }}s{% endif %}</h2>

	<div class="container rich tips mb-3">
		<div class="icon">ℹ️</div>
		<div class="cont coloring-1">
      {% if not object_list and not queries %}
        <p>No data.</p>
      {% elif not object_list and queries %}
        <p>
          Keyword: "<strong>{{ queries }}</strong>" <br /> Search result: no record found.
        </p>
      {% else %}
        <p>
          {%  if queries %}
            Keyword: "<strong>{{ queries }}</strong>" <br /> Search result:
          {% endif %}
          {{ count }} record{{ object_list.count|pluralize:"s" }} found.
        </p>
      {% endif %}
		</div>
	</div>

	{% if object_list.count %}
	<div class="pt-3 is-flex is-justify-content-space-between is-flex-wrap-wrap list-options">
		<div>
			<div class="field has-addons">
			<p class="control">
				<button id="grid-view-btn" class="button is-small is-info">
				<span class="icon is-small">
					<i class="fas fa-th"></i>
				</span>
				<span>Grid View</span>
				</button>
			</p>
			<p class="control">
				<button id="table-view-btn" class="button is-small">
				<span class="icon is-small">
					<i class="fas fa-table"></i>
				</span>
				<span>Table View</span>
				</button>
			</p>
			</div>
		</div>
		<div>
      {% include "base/list_sort.html" %}
		</div>
	</div>

	<div id="grid-view" class="columns is-multiline plugins-list-grid is-hidden">
		{% for object in object_list %}
			{% include "base/list_grid_card.html" %}
		{% endfor %}
	</div>


	<div id="table-view" class="table-container is-hidden pt-0">
    {% include "base/list_table.html" %}
  </div>

  {% endif %}


  <div class="pagination">
    {% include 'base/list_pagination.html' %}
  </div>

  <script>
    function adjustHeaderWidth() {
      const table = document.getElementById('myTable');
      const header = table.querySelector('thead');
      const headerCells = header.querySelectorAll('th');
      const bodyCells = table.querySelectorAll('tbody tr:first-child td');
      const offsetTop = table.offsetTop;
      const listOptions = document.querySelector('.list-options');

      // Check if we need to make the header sticky
      if (window.scrollY >= offsetTop) {
        header.classList.add('sticky-header');

        // Set the width of each header cell to match the corresponding body cell
        headerCells.forEach((th, index) => {
          th.style.width = `${bodyCells[index].offsetWidth}px`;
        });

        // Set the top position of the sticky header based on the height of the list-options
        header.style.top = `${listOptions.offsetHeight + 112}px`;
      } else {
        header.classList.remove('sticky-header');

        // Reset header cell widths when sticky is removed
        headerCells.forEach((th) => {
          th.style.width = '';
        });

        // Reset the top position of the header
        header.style.top = '';
      }
    }

    window.addEventListener('scroll', adjustHeaderWidth);
    window.addEventListener('load', adjustHeaderWidth);
    window.addEventListener('resize', adjustHeaderWidth);
  </script>
  <script>
		$('#table-view-btn').on('click', function() {
			$('#table-view').removeClass('is-hidden');
			$('#grid-view').addClass('is-hidden');
			$(this).addClass('is-info');
			$('#grid-view-btn').removeClass('is-info');
			localStorage.setItem('view', 'table');
		});

		$('#grid-view-btn').on('click', function() {
			$('#grid-view').removeClass('is-hidden');
			$('#table-view').addClass('is-hidden');
			$(this).addClass('is-info');
			$('#table-view-btn').removeClass('is-info');
			localStorage.setItem('view', 'grid');
		});

		$(document).ready(function() {
			const view = localStorage.getItem('view');
			if (view === 'table') {
			$('#table-view').removeClass('is-hidden');
			$('#grid-view').addClass('is-hidden');
			$('#table-view-btn').addClass('is-info');
			$('#grid-view-btn').removeClass('is-info');
			} else {
			$('#grid-view').removeClass('is-hidden');
			$('#table-view').addClass('is-hidden');
			$('#grid-view-btn').addClass('is-info');
			$('#table-view-btn').removeClass('is-info');
			}
		});
	</script>

{% endblock %}
