{% extends 'base/base.html' %}{% load i18n static thumbnail humanize resources_custom_tags%}

{% block extrajs %}
    {{ block.super }}
  {% for css_src in css %}
    <link rel="stylesheet" href="{% static css_src %}" type="text/css" />
  {% endfor %}
{% endblock %}

{% block content %}
{% if resource_name == 'Map' %}
  {% include "base/includes/image_viewer.html" with image_file=object.file  %}
{% elif resource_name == 'Processing Script' %}
  {% include "base/includes/script_viewer.html" with title=object.name script_content=object.get_file_content %}
{% endif %}
<div class="box-content">
    
  <div class="columns">
    <div class="column is-6">
        <h3 class="title is-4">{{ object_detail.name }}
            <span class="tag is-size-6 is-info">
                in review
            </span>
        </h3>
      </div>
    
    <div class="column is-6 has-text-right">
        {% if user == object_detail.creator or user.is_staff %}
        <div>
            <a class="button is-success is-small is-outlined" href="{% url url_update object_detail.id %}" title="{% trans "Edit" %}">
              <span class="icon is-small">
                <i class="fas fa-pencil-alt"></i>
              </span>
            </a>
            <a class="button is-danger is-small is-outlined" href="{% url url_delete object_detail.id %}" title="{% trans "Delete" %}">
              <span class="icon is-small">
                <i class="fas fa-trash-alt"></i>
              </span>
              </a>
              {% if object_detail.file and object_detail.file.file %}
              <button class="button is-small" 
                 onclick="location.href='{% url url_download object_detail.id %}'" 
                 title="{% trans "Download" %}">
                <span class="icon is-small">
                <i class="fas fa-download"></i>
                </span>
                <span>{% trans "Download" %}</span>
              </button>
              {% else %}
              <button class="button is-small" 
                 title="{% trans "File missing: The resource file couldn't be located." %}" 
                 disabled>
                <span class="icon is-small">
                <i class="fas fa-exclamation-triangle"></i>
                </span>
                <span>{% trans "File missing" %}</span>
              </button>
              {% endif %}
        </div>
        {% endif %}
    </div>
    </div>
    <hr />
    <div class="view-resource mb-3">
      <div class="style-polaroid">
        {% if object_detail.thumbnail_image and object_detail.thumbnail_image.file %}
          {% thumbnail object_detail.thumbnail_image "420x420" format="PNG" as im %}
          <img class="image-resource" alt="{% trans "image" %}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}" />
          {% endthumbnail %}
        {% elif resource_name == 'Map' and object.file.file %}
        {% thumbnail object.file "420x420" format="PNG" as im %}
          <img alt="{% trans "Map icon" %}" src="{{ im.url }}" />
        {% endthumbnail %}
        {% else %}
          <img src="{% static "images/large-logo.svg" %}" alt="{% trans "Plugin icon" %}" />
        {% endif %}
          {% if is_3d_model %}
            {% include "base/includes/wavefront/detail_3dviewer.html" %}
          {% endif %}
      </div>
    </div>

    {% if resource_name == 'Map' %}
      <div class="has-text-centered">
        <button class="button is-light" onclick="openViewer('{{ object.file.url }}');">
          <span class="icon">
            <i class="fas fa-map"></i>
          </span>
          <span>{% trans "Open Full-Size Map" %}</span>
        </button>
      </div>
      {% elif resource_name == 'Processing Script' %}
      <div class="has-text-centered">
        <button class="button is-light script-preview-modal-button" data-target="scriptPreviewModal" >
          <span class="icon">
            <i class="fas fa-code"></i>
          </span>
          <span>{% trans "Preview Script" %}</span>
        </button>
      </div>
    {% endif %}

    {% include "base/includes/detail_object.html" %}
    {% if license_template %}
      <hr />
      {% include license_template %}
    {% endif %}
    <hr />
    {% if reviewer %}
        {% with review=object_detail.review_set.last %}
        <div class="field">
            <label class="label">Last Review:</label>
            <div class="control">
                <div class="notification">
                    <p class="content">{{ review.comment }}</p>
                    <p class="has-text-darker is-size-7">
                    <i><small>Reviewed by {{ reviewer|title }} {{ review.review_date|naturaltime }}</small></i>
                    </p>
                </div>
            </div>
        </div>
        {% endwith %}
    {% endif %}

    {% if user.is_staff or is_style_manager %}
    <form method="post" action="{% url url_review pk=object_detail.id %}">{% csrf_token %}
        <div class="field">
            <label class="label">Approval:</label>
            <div class="control">
                <label class="radio">
                    {{ form.approval.0 }}
                </label>
                <label class="radio">
                    {{ form.approval.1 }}
                </label>
            </div>
        </div>
        <div class="field">
            <label class="label">Comment:</label>
            <div class="control">
                {{ form.comment }}
            </div>
        </div>
        <div class="form-actions has-text-right">
            <button type="submit" class="button is-success">
                <span class="icon is-small">
                    <i class="fas fa-check"></i>
                </span>
                <span>Submit Review</span>
            </button>
        </div>
    </form>
    {% endif %}
</div>
{% endblock %}
