{% extends "base/base.html" %}{% load i18n static%}

{% block extracss %}
<link rel="stylesheet" media="all" type="text/css" href="{% static "jquery-autosuggest/css/autoSuggest.css" %}">
{{ block.super }}
<style type="text/css">
/* for autocomplete */
.vTextField {
    width: 20em;
}

ul.vTextField {
    padding-bottom:0;
}

ul.as-list {
    margin: 0 0 0 0.5em !important;
    border: solid 1px #ddd !important;
}

#id_tags__tagautosuggest {
    height: 16px !important;
    margin-top: 1em;
}
</style>

{% endblock %}

{% block content %}
    <h2 class="title is-4">{% trans "Update" %} {{ resource_name }}: {{ object.name }}</h2>
    <p class="help">{% trans "To update your" %} {{ resource_name }}{% trans ", you can change the value in the input field." %}</p>

    {% if form.non_field_errors %}
    <div class="notification is-danger">
        <button class="delete" type="button"></button>
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="box-content">
        {% csrf_token %}

        {% if resource_name == 'Map' %}
        <div class="container rich tips mt-0 mb-3">
            <div class="icon" style="margin-top: 35px;">⚠️</div>
            <div class="cont coloring-2">
            <h2>Important Guidelines for Uploading Your Map</h2>
            <p>
                Before proceeding with the upload, please ensure that your map adheres to the following guidelines:
                <ul>
                    <li>The map is created using QGIS.</li>
                    <li>The map includes the "Made with QGIS" logo (included by default in QGIS SVG resources).</li>
                    <li>The map is in a supported image format (e.g., PNG, JPEG).</li>
                    <li>The map is not a screenshot.</li>
                    <li>The map file size does not exceed 10MB.</li>
                    <li>The map name provided in the form is descriptive and relevant.</li>
                    <li>
                        The description provided in the form includes a concise narrative 
                        explaining how QGIS was utilized to create the map.
                    </li>
                </ul>
            </p>
            </div>
        </div>
        {% endif %}
        {% include "base/form_snippet.html" %}
        <div class="form-actions has-text-centered">
            <button class="button is-success is-medium" type="submit">
            <span class="icon is-small">
                <i class="fas fa-check"></i>
            </span>
            <span>{% trans "Update" %}</span>
            </button>
        </div>
    </form>

{% endblock %}
