{% extends "base/base.html" %}{% load i18n static %}

{% block extracss %}
<link rel="stylesheet" media="all" type="text/css" href="{% static "jquery-autosuggest/css/autoSuggest.css" %}">
{{ block.super }}
<style type="text/css">
/* for autocomplete */
.vTextField {
    width: 20em;
}

ul.vTextField {
    padding-bottom:0;
}

ul.as-list {
    margin: 0 0 0 0.5em !important;
    border: solid 1px #ddd !important;
}

#id_tags__tagautosuggest {
    height: 16px !important;
    margin-top: 1em;
}
</style>

{% endblock %}
{% block content %}
    <h2>{% trans "Upload" %} {{ resource_name }}</h2>

    {% if form.non_field_errors %}
    <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {% for error in form.non_field_errors %}
            <p>{{ error }}</p>
        {% endfor %}
    </div>
    {% endif %}

    <form method="post" enctype="multipart/form-data" class="box-content">
        {% csrf_token %}

        {% if resource_name == 'Map' %}
        <div class="container rich tips mt-0 mb-3">
            <div class="icon" style="margin-top: 35px;">⚠️</div>
            <div class="cont coloring-2">
            <h2>Important Guidelines for Uploading Your Map</h2>
            <p>
                Before proceeding with the upload, please ensure that your map adheres to the following guidelines:
                <ul>
                    <li>The map is created using QGIS.</li>
                    <li>The map includes the "Made with QGIS" logo (included by default in QGIS SVG resources).</li>
                    <li>The map is in a supported image format (e.g., PNG, JPEG).</li>
                    <li>The map is not a screenshot.</li>
                    <li>The map file size does not exceed 10MB.</li>
                    <li>The map name provided in the form is descriptive and relevant.</li>
                    <li>
                        The description provided in the form includes a concise narrative 
                        explaining how QGIS was utilized to create the map.
                    </li>
                </ul>
            </p>
            </div>
        </div>
        {% endif %}
        {% include "base/form_snippet.html" %}

        <div class="field">
            <div class="control">
            <label class="checkbox">
                {% if not is_custom_license_agreement %}
                <input id="declaration" type="checkbox" required> I confirm that I own these materials and have the rights to share them, including any embedded content, under the <a href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank">CC-0 license</a>.
                {% else %}
                <input id="declaration" type="checkbox" required> I confirm that I own these materials and have the rights to share them, including any embedded content, under the license.
                {% endif %}
            </label>
            </div>
        </div>

        {% if resource_name == 'Map' %}
            <div class="field">
                <div class="control">
                <label class="checkbox">
                    <input id="declaration" type="checkbox" required> 
                    I confirm that QGIS was integral to the creation of this map.
                </label>
                </div>
            </div>
            <div class="field">
                <div class="control">
                <label class="checkbox">
                    <input id="declaration" type="checkbox" required> 
                    I declare that QGIS.org may use this image for marketing and promotion as needed to benefit the project.
                </label>
                </div>
            </div>
        {% endif %}

        <div class="field has-text-centered">
            <div class="control">
            <button class="button is-success is-medium" id="licenseAgreed" type="submit">
                <span class="icon">
                <i class="fas fa-upload"></i>
                </span>
                <span>{% trans "Upload" %}</span>
            </button>
            </div>
        </div>
    </form>

    <script type="text/javascript" src="{% static 'js/resource_upload.js' %}"></script>


    <script>
        // check filesize
        $('#id_file').bind('change', function() {
            let maxFileSize = {% if limit_1mb %}1000000{% else %}{{ preferences.FilesizePreferences.wavefront_filesize_limit }} * 1000000{% endif %};
            let fileSize = this.files[0].size
            if (fileSize > maxFileSize){
                alert(`You have selected a file that is more than ${maxFileSize/1000000}mb, files larger than this are not supported.`);
                $('#id_file').val('');
            };
        });
    </script>

{% endblock %}
