{% load static %}
<div class="container">
  <div class="feature left-deco-1">
    <div class="columns is-vcentered main-cols">
      <div class="column is-5 main-text">
        <h2 class="deco-arrow">Styles</h2>
        <p class="is-size-5 has-text-weight-light">
          QGIS styles are a set of properties that can be applied to vector layers. They are used to render the layer in the map canvas.
        </p>
        <p class="mt-3">
          <a href="{% url 'style_list' %}?sort=upload_date&order=desc" class="button is-primary1 is-size-5">Browse Styles</a>
        </p>
      </div>
      <div class="column is-7 main-image">
        <figure class="deco-block-1">
            <img src="{% static 'images/tanaka_contours.webp' %}"/>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="feature left-deco-2">
    <div class="columns is-vcentered main-cols">
      <div class="column is-5 main-text">
        <h2 class="deco-arrow">Projects</h2>
        <p class="is-size-5 has-text-weight-light">
          Geopackage files that contain a QGIS project file and all the data layers used in the project.
        </p>
        <p class="mt-3">
          <a href="{% url 'geopackage_list' %}?sort=upload_date&order=desc" class="button is-primary1 is-size-5">Browse Projects</a>
        </p>
      </div>
      <div class="column is-7 main-image">
        <figure class="deco-block-2">
            <img src="{% static 'images/dashboard.webp' %}"/>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="feature left-deco-3">
    <div class="columns is-vcentered main-cols">
      <div class="column is-5 main-text">
        <h2 class="deco-arrow">Models</h2>
        <p class="is-size-5 has-text-weight-light">
          QGIS models are a set of processing algorithms that can be run in a sequence to automate a task.
        </p>
        <p class="mt-3">
          <a href="{% url 'model_list' %}?sort=upload_date&order=desc" class="button is-primary1 is-size-5">Browse Models</a>
        </p>
      </div>
      <div class="column is-7 main-image">
        <figure class="deco-block-3">
            <img src="{% static 'images/simple_pansharpern_tool.webp' %}"/>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="feature left-deco-4">
    <div class="columns is-vcentered main-cols">
      <div class="column is-5 main-text">
        <h2 class="deco-arrow">3D Models</h2>
        <p class="is-size-5 has-text-weight-light">
            QGIS 3D models can be used in any 3D software to visualize and analyze spatial data in three dimensions.
        </p>
        <p class="mt-3">
          <a href="{% url 'wavefront_list' %}?sort=upload_date&order=desc" class="button is-primary1 is-size-5">Browse 3D Models</a>
        </p>
      </div>
      <div class="column is-7 main-image">
        <figure class="deco-block-4">
            <img src="{% static 'images/qgis_logo_3d.webp' %}"/>
        </figure>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="feature left-deco-1">
    <div class="columns is-vcentered main-cols">
      <div class="column is-5 main-text">
        <h2 class="deco-arrow">Layer Definition File</h2>
        <p class="is-size-5 has-text-weight-light">
          The QGIS Layer Definition (QLR) format makes it possible to share “complete” QGIS layers with other QGIS users. 
          QLR files contain links to the data sources and all the QGIS style information necessary to style the layer.
        </p>
        <p class="mt-3">
          <a href="{% url 'layerdefinition_list' %}?sort=upload_date&order=desc" class="button is-primary1 is-size-5">Browse QLR</a>
        </p>
      </div>
      <div class="column is-7 main-image">
        <figure class="deco-block-1">
            <img src="{% static 'images/swisstopo_vector_tiles.webp' %}"/>
        </figure>
      </div>
    </div>
  </div>
</div>

